@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-color: hsl(322, 100%, 66%);
  --very-dark-cyan-color: hsl(192, 100%, 9%);
  --very-pale-blue-color: hsl(207, 100%, 98%);
}

/*=== GLOBAL ===*/

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 15px auto;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.content-button {
  margin: 20px auto;
}

input[type=button] {
  width: 350px;
  height: 75px;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  background-color: var(--pink-color);
  border: none;
  border-radius: 40px;
  box-shadow: 1px 1px 5px #000;
  cursor: pointer;
}

input[type=button]:hover {
  opacity: 0.8;
}

input[type=button]:focus {
  outline-style: none;
}

.flex_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*=== NAVBAR ===*/

nav {
  padding: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

nav .enter {  
  border: 1px solid var(--pink-color);
  box-shadow: 0px 0px 5px var(--pink-color);
  border-radius: 15px;
}

nav .enter:hover {
  background: var(--pink-color);
  border: 1px solid transparent;
}

nav #try_it {
  padding: 3px 20px;
  font-size: 16px;
  line-height: 26px;
  color: var(--pink-color);
  text-decoration: none;
}

nav #try_it:hover {
  color: #fff;
}

/*=== SECTION 01 ===*/
#build_community {
  max-width: 1052px;
  margin: 100px auto auto;
  text-align: center;
}

#build_community p {
  max-width: 550px;
  margin: 0 auto;
}

#build_community .content-mockup {
  padding: 50px 0px;
}

.community_description {
  margin: 20px auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.community i {
  display: block;
}

.community i img {
  width: 30px;
}

#build_community .community .community_information {
  padding-bottom: 5px;
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
}

#build_community .community p + p {
  color: #bbb;
  text-align: center;
  font-weight: bold;
}

/*=== SECTION 02 ===*/
#content_community {
  width: 100%;
}

#content_community h1 {
  font-size: 30px;
  line-height: 40px;
}

#content_community p {
  font-size: 16px;
  line-height: 26px;
}

.bg-image-content {
  width: 100%;
}

.bg-image-content.top {
  margin-top: 50px;
  position: relative;
  top: 5px;
}

.bg-image-content.bottom {
  margin-bottom: 100px;
}

.flex_content.bg-gray {
  padding: 0px 50px;
  background-color: var(--very-pale-blue-color);
}

#content_community .community_content,
#content_community .community_content-img {
  margin: 0 auto;
}

#content_community .community_content {
  max-width: 500px;
}

#content_community .community_content-img {
  max-width: 800px;
}

#content_community .community_content-img img {
  width: 600px;
}

/*=== READY ===*/
#ready {
  text-align: center;
}

/*=== FOOTER ===*/

.footer-content {
  width: 100%;
  padding: 50px;
  color: #fff;
  background: var(--very-dark-cyan-color);

  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer .bg-image-content.top {
  top: 6px;
}

.footer-content p {
  max-width: 375px;
  margin: 20px 0;
  font-size: 16px;
  line-height: 26px;
}

.footer__icons-contact {
  margin-bottom: 20px;
}

.footer__icons-contact i {
  margin-right: 20px;
  position: relative;
  top: 2px;
}

.media_socials {
  margin-top: 75px;
}

.media_socials a + a {
  margin-left: 20px;
}

.media_socials a img {
  width: 40px;
}

.footer__newsletter h2 {
  font-size: 20px;
  text-transform: uppercase;
}

.footer__input {
  display: inline-block;
}

.footer__input input[type=email] {
  width: 300px;
  height: 40px;
  margin: auto 20px 20px auto;
  font-size: 16px;
  line-height: 26px;
  border-radius: 5px;
}

.footer__input input[type=button] {
  width: 200px;
  height: 40px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 5px;
}
